*.js
!lib/redirect/index.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

lib/book
lib/presign
lib/frontend
yarn-error.log
