@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl;
        @apply mt-10;
        @apply mb-5;
        @apply font-black;
        text-transform: uppercase;
        text-shadow: 2px 2px rgb(190, 24, 93);
    }

    h2 {
        @apply text-2xl;
    }

    h1,h2 {
        @apply text-white;
        --stroke-opacity: 0.3;
        --stroke-width: 2px;
        -webkit-text-stroke: var(--stroke-width) rgba(190, 24, 93, var(--stroke-opacity));
    }

    h2 {
        --stroke-opacity: 0.1;
        --stroke-width: 1px;
    }
}

html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: url("assets/page_bg.jpeg");
    @apply bg-contain;
}